# Load Parsing Data

In [1]:
import nest_asyncio
import os

from IPython.utils import docs
from llama_parse import LlamaParse


nest_asyncio.apply()

LLAMA_CLOUD_API_KEY = ''
os.environ["LLAMA_CLOUD_API_KEY"] = LLAMA_CLOUD_API_KEY

# Parser

In [106]:
from typing import List, Tuple, Union

from enum import Enum

import re
import pandas as pd


class PDFPartsTypes(Enum):
    """
    Represents the types of PDF parts.
    """

    TEXT = 0
    TABLE = 1
    

MIN_TEXT_SIZE = 100


class MDParser:
    @staticmethod
    def _parse_md_table(md_table: str) -> pd.DataFrame | None:
        """
        Parses a Markdown table string and converts it into a Pandas DataFrame.

        :param md_table: Markdown string which represent a table
        :return: Pandas DataFrame -- parsed table
        """
        lines = md_table.strip().split("\n")
        headers = [h.strip() for h in lines[0].strip().split("|")[1:-1]]  # Split header row by '|'
        rows = [line.strip().split("|")[1:-1] for line in lines[2:]]    # Split data rows by '|'
        data = [[cell.strip() for cell in row if cell] for row in rows]  # Clean up cells        
        
        try:
            res_df = pd.DataFrame(data, columns=headers)
        except:
            res_df = None
        return res_df
    
    @staticmethod
    def _merge_tables(tables: List[pd.DataFrame]) -> List[pd.DataFrame]:
        def infer_column_types(df):
            inferred_types = []
            for col in df.columns:
                try:
                    # Try numeric conversion
                    pd.to_numeric(df[col])
                    inferred_types.append('num')
                except:
                    try:
                        # Try datetime conversion
                        pd.to_datetime(df[col], format='mixed')
                        inferred_types.append('dt')
                    except:
                        inferred_types.append('str')
            return inferred_types
        
        inx = 0
        
        while (inx + 1) < len(tables):
            # try to merge tables[inx] and tables[inx + 1]
            # check if they have the same number of columns
            # check if their columns have the similar type
            # !!! WARNING !!! It was supposed that the first table has the right columns names
            # !!! WARNING !!! and following similar table has hallucinated columns names
            if tables[inx].shape[1] == tables[inx + 1].shape[1]:
                col_types_t0 = infer_column_types(tables[inx])
                col_types_t1 = infer_column_types(tables[inx + 1])
                if col_types_t0 == col_types_t1:
                    tables[inx + 1].columns = tables[inx].columns
                    tables[inx] = pd.concat([tables[inx], tables[inx + 1]], ignore_index=True).reset_index(drop=True)
                    del tables[inx + 1]
                    
                    continue # prevent considering the next table    
            inx += 1
        return tables

    @staticmethod
    def parse_md_page(md_text: str) -> List[Tuple[Union[pd.DataFrame, str], PDFPartsTypes]]:
        """
        Extracts tables and text from Markdown in the same order they appear.
        Tables are returned as Pandas DataFrames, and text parts as strings.

        :param md_text: Markdown string which represent PDF-document or PDF-page
        :return: List[Tuple[Union[pd.DataFrame, str], PDFPartsTypes]]
        """
        content = []

        # Regular expression to match Markdown tables, allowing for optional spaces and missing cells
        table_pattern = re.compile(
            r'(\|[^\n]+\|\n(?:\|[^\n]+\|\n)*)',
            re.MULTILINE
        )
        
        # Split the text by tables
        parts = table_pattern.split(md_text + "\n")

        for part in parts:
            part = part.strip()
            if table_pattern.match(part):  # It's a table
                df = MDParser._parse_md_table(part)
                # check if table parsing is successful
                content.append((df, PDFPartsTypes.TABLE) if df is not None else (part.strip(), PDFPartsTypes.TEXT))
            elif part:  # Non-empty text
                content.append((str(part), PDFPartsTypes.TEXT))

        return content

    @staticmethod
    def parse_md_doc(md_texts: List[str]) -> List[Tuple[Union[str, pd.DataFrame], PDFPartsTypes]]:
        text_parts_processed = []
        page_parts = []
        combined_md_text = ""
        collected_tables = []
        
        # Here might be a table parsing logic which use table position in text,
        # so I keep pages after collecting tables
        for md_text in md_texts:
            page_parts.append(MDParser.parse_md_page(md_text))

        # Cleaning redundant text parts and table combining procedure
        for page_part in page_parts:
            for pdata, pd_type in page_part:
                if pd_type == PDFPartsTypes.TEXT:
                    # DO NOT add to final text too small pieces of text
                    # usually they are redundant
                    pdata = pdata.strip()
                    combined_md_text += pdata + "\n" if (len(combined_md_text) > 0 or len(pdata) > MIN_TEXT_SIZE) else ""
                elif pd_type == PDFPartsTypes.TABLE:
                    collected_tables.append(pdata)
        collected_tables = MDParser._merge_tables(collected_tables)
        
        if combined_md_text:
            text_parts_processed.append((combined_md_text, PDFPartsTypes.TEXT))
        text_parts_processed.extend([(df_table, PDFPartsTypes.TABLE) for df_table in collected_tables])
        
        return text_parts_processed

# Testing "single-page-diff-u_s_tables.pdf"

In [89]:
doc = LlamaParse(
    result_type="markdown",
    use_vendor_multimodal_model=True,
    # vendor_multimodal_model_name="openai-gpt-4o-mini",
    vendor_multimodal_model_name="openai-gpt4o",
).load_data("./_data_test_pdfs_custom/single-page-diff-u_s_tables.pdf")
print(f"Result docs number: {len(doc)}")

Started parsing the file under job_id 00e6c69d-17d7-41d4-9212-7691a672151d
Result docs number: 8

In [107]:
res = MDParser.parse_md_doc([doc[inx].text for inx in range(len(doc))])

In [108]:
for res_single in res:
    print(res_single[1], res_single[0].shape)

PDFPartsTypes.TABLE (32, 5)
PDFPartsTypes.TABLE (46, 11)
PDFPartsTypes.TABLE (21, 6)

In [109]:
res[0][0].head()

,Date,Description,Revenue (USD),Expenses (USD),Net Profit (USD)
0,2023-12-01,Daily Transactions,"$1,200",$955,$245
1,2023-12-02,Daily Transactions,"$1,500","$1,082",$418
2,2023-12-03,Daily Transactions,"$1,100",$861,$239
3,2023-12-04,Daily Transactions,"$1,342","$1,068",$274
4,2023-12-05,Daily Transactions,"$1,410","$1,180",$230

In [110]:
res[1][0].head()

,Product ID,Product Name,Description,Quantity in Stock,Unit Price,Selling Price,Expiry Date,Date of Purchase,Date of Last Sale,Supplier,Discount
0,1,Apple,"Fresh, crisp apples sourced from local orchard...",94,$1.00,1.24,02-01-2024,26-11-2023,01-12-2023,Fresh Fruit Co.,0.117748952
1,2,Banana,"Ripe, sweet bananas imported from tropical reg...",68,$0.50,0.62,05-12-2023,19-11-2023,01-12-2023,Fresh Fruit Co.,0.081272608
2,3,Bread,"Artisanal bread made with locally-sourced, hig...",10,$2.00,2.48,17-12-2023,25-11-2023,19-11-2023,Bakery Delights,0.158817645
3,4,Milk,"Fresh, creamy milk from pasture-raised cows fo...",95,$3.00,3.72,31-12-2023,24-11-2023,01-12-2023,Dairy Farm,0.011311604
4,5,Egg,"Farm-fresh eggs from free-range chickens, ensu...",91,$0.25,0.31,09-12-2023,23-11-2023,20-11-2023,Eggcellent Suppliers,0.015065837

In [111]:
res[2][0].head()

,Employee,Phone,Email,Role,Hire Date,Salary
0,Sarah Lee,(415) 555-2671,sarahlee@email.com,Cashier,3-Jan-2018,"$2,000"
1,Tom Johnson,(212) 555-3456,tomjohnson@email.com,Cashier,15-Feb-2019,"$2,000"
2,Jane Smith,(312) 555-7890,janesmith@email.com,Cashier,10-Apr-2017,"$2,000"
3,Mike Johnson,(213) 555-4567,mikejohnson@email.com,Cashier,22-May-2018,"$2,000"
4,John Smith,(305) 555-6789,johnsmith@email.com,CEO,30-Jun-2019,"$20,000"

# Testing "consum_order_payment.pdf"

In [112]:
doc = LlamaParse(
    result_type="markdown",
    use_vendor_multimodal_model=True,
    # vendor_multimodal_model_name="openai-gpt-4o-mini",
    vendor_multimodal_model_name="openai-gpt4o",
).load_data("./_data_test_pdfs_custom/consum_order_payment.pdf")
print(f"Result docs number: {len(doc)}")

Started parsing the file under job_id 110410e1-2f31-4cdf-9871-7f534319fbb4
Result docs number: 3

In [113]:
print(doc[0].text)

| Payment ID | Order ID | Loyalty Card | Loyalty Amount Applied | Customer       | Amount Payed | Date       | Type   | Card       | Invoice ID | Status     |
|------------|----------|--------------|------------------------|----------------|--------------|------------|--------|------------|------------|------------|
| 209864     | 1        | -            |                        | John Smith     | $50.00       | 01-May-21  | Cash   |            | 656625     | Completed  |
| 615068     | 3        | 401364       | 5                      | Bob Johnson    | $15          | 03-May-21  | Online | Visa       | 129687     | Failed     |
| 889065     | 4        | -            |                        | Mary Brown     | $30.00       | 04-May-21  | Cash   |            | 429780     | Completed  |
| 743665     | 5        | 245888       |                        | David Lee      | $15.00       | 05-May-21  | Cash   |            | 960672     | Pending    |
| 541305     | 8        | 417384       | 3                      | Emily Davis    | $22          | 08-May-21  | Online | MasterCard | 892412     | Pending    |
| 720291     | 9        | -            |                        | James Wilson   | $35.00       | 09-May-21  | Cash   |            | 327598     | Failed     |
| 270772     | 12       | -            |                        | Sarah Davis    | $200         | 01-Feb-22  | Online | Visa       | 211592     | Paid       |
| 719317     | 13       | 159316       |                        | Peter Parker   | $100         | 01-Mar-22  | Online | Visa       | 883385     | Pending    |
| 441367     | 17       | 366482       |                        | Michael Smith  | $400         | 01-Jul-22  | Cash   |            | 532919     | Failed     |
| 903270     | 19       | -            |                        | William Johnson| $500         | 01-Sep-22  | Cash   |            | 697419     | Pending    |
| 254250     | 20       | -            |                        | Jessica Davis  | $550         | 01-Oct-22  | Cash   |            | 849473     | Failed     |
| 586722     | 22       | -            |                        | Jane Doe       | $200.00      | 02-Jan-22  | Online | MasterCard | 754458     | Completed  |
| 428441     | 23       | -            |                        | Mary Johnson   | $75.00       | 03-Jan-22  | Online | Visa       | 401436     | Pending    |
| 371695     | 24       | -            |                        | James Smith    | $120.00      | 04-Jan-22  | Cash   |            | 629549     | Failed     |
| 992029     | 26       | 793775       |                        | David Brown    | $180.00      | 06-Jan-22  | Cash   |            | 192059     | Pending    |
| 338689     | 27       | 759235       |                        | Olivia Taylor  | $90.00       | 07-Jan-22  | Cash   |            | 565220     | Failed     |
| 318692     | 30       | 330293       | 4.3                    | Michael Davis  | $105.70      | 10-Jan-22  | Cash   | MasterCard | 246621     | Failed     |
| 818132     | 32       | -            |                        | Jane Smith     | $200         | 01-Feb-22  | Online | Visa       | 732854     | Completed  |
| 791460     | 34       | -            |                        | Tom Johnson    | $90          | 01-Apr-22  | Cash   |            | 772251     | Pending    |
| 408578     | 35       | 299518       | 2.8                    | Sarah Lee      | $177.20      | 01-May-22  | Cash   | MasterCard | 254563     | Failed     |
| 729740     | 37       | 149973       |                        | Mike Johnson   | $160         | 01-Jul-22  | Online | Visa       | 827288     | Completed  |
| 198293     | 40       | -            |                        | Jane Smith     | $220         | 01-Oct-22  | Online | Visa       | 478840     | Pending    |
| 982412     | 41       | -            |                        | John Doe       | $150         | 01-Jan-22  | Cash   |            | 448331     | Failed     |
| 266553     | 44       | -            |                        | James Brown    | $300         | 04-Jan-22  | Online | Visa       | 349230     | Pending    |
| 763846     | 46       | -            |                        | William Smith  | $400         | 06-Jan-22  | Online | MasterCard | 626521     | Failed     |

In [114]:
print(doc[1].text)

| Order ID | Status      | Customer        | Cashier     | Total | Date      | Items                          | Notes                                           |
|----------|-------------|-----------------|-------------|-------|-----------|--------------------------------|-------------------------------------------------|
| 1        | Completed   | John Smith      | Sarah Lee   | $50   | 01-May-21 | Apples, Bananas, Bread         |                                                 |
| 2        | Completed   | Jane Doe        | Tom Johnson | $75   | 02-May-21 | Milk, Eggs, Cheese, Yogurt     |                                                 |
| 3        | In Progress | Bob Johnson     | Sarah Lee   | $20   | 03-May-21 | Chips, Salsa                   |                                                 |
| 4        | Completed   | Mary Brown      | Tom Johnson | $30   | 04-May-21 | Chicken, Broccoli              |                                                 |
| 5        | Completed   | David Lee       | Sarah Lee   | $15   | 05-May-21 | Soda, Chips                    |                                                 |
| 6        | In Progress | Sarah Johnson   | Tom Johnson | $40   | 06-May-21 | Ground Beef, Pasta, Sauce      |                                                 |
| 7        | Completed   | Michael Smith   | Sarah Lee   | $60   | 07-May-21 | Steak, Potatoes, Carrots       |                                                 |
| 8        | In Progress | Emily Davis     | Tom Johnson | $25   | 08-May-21 | Apples, Oranges                |                                                 |
| 9        | Completed   | James Wilson    | Sarah Lee   | $35   | 09-May-21 | Bread, Milk, Eggs              |                                                 |
| 10       | In Progress | Samantha Brown  | Tom Johnson | $45   | 10-May-21 | Chicken, Rice, Beans           |                                                 |
| 11       | Delivered   | John Doe        | Jane Smith  | $150  | 01-Jan-22 | Apples, Milk                   |                                                 |
| 12       | Pending     | Sarah Davis     | Mike Johnson| $200  | 01-Feb-22 | Bread, Butter                  |                                                 |
| 13       | Cancelled   | Peter Parker    | Jane Smith  | $100  | 01-Mar-22 | Cereal, Juice                  | Out of stock                                    |
| 14       | Delivered   | Mary Johnson    | Mike Johnson| $250  | 01-Apr-22 | Eggs, Bacon                    |                                                 |
| 15       | Pending     | James Brown     | Jane Smith  | $300  | 01-May-22 | Pasta, Tomato Sauce            |                                                 |
| 16       | Delivered   | Emily Davis     | Mike Johnson| $350  | 01-Jun-22 | Chicken, Potatoes              |                                                 |
| 17       | Cancelled   | Michael Smith   | Jane Smith  | $400  | 01-Jul-22 | Fish, Rice                     | Out of stock                                    |
| 18       | Delivered   | Jennifer Wilson | Mike Johnson| $450  | 01-Aug-22 | Beef, Broccoli                 |                                                 |
| 19       | Pending     | William Johnson | Jane Smith  | $500  | 01-Sep-22 | Pork, Corn                     |                                                 |
| 20       | Delivered   | Jessica Davis   | Mike Johnson| $550  | 01-Oct-22 | Lamb, Peas                     |                                                 |
| 21       | Completed   | John Doe        | Sarah Lee   | $150  | 01-Jan-22 | Milk, Bread, Butter            |                                                 |
| 22       | In Progress | Jane Doe        | Tom Johnson | $200  | 02-Jan-22 | Eggs, Bacon, Orange Juice      |                                                 |
| 23       | Delivered   | Mary Johnson    | Jane Smith  | $75   | 03-Jan-22 | Cereal, Milk                   |                                                 |
| 24       | Pending     | James Smith     | Mike Johnson| $120  | 04-Jan-22 | Chicken, Vegetables, Rice      |                                                 |
| 25       | Cancelled   | Emily Davis     | Sarah Lee   | $50   | 05-Jan-22 | Pasta, Tomato Sauce            | Customer might have found the items cheaper elsewhere |
| 26       | Completed   | David Brown     | Tom Johnson | $180  | 06-Jan-22 | Steak, Potatoes, Wine          |                                                 |
| 27       | In Progress | Olivia Taylor   | Jane Smith  | $90   | 07-Jan-22 | Fish, Lemon, Olive Oil         |                                                 |
| 28       | Delivered   | William Johnson | Mike Johnson| $130  | 08-Jan-22 | Bread, Cheese, Ham             |                                                 |

In [115]:
print(doc[2].text)

|    | Status      | Customer Name   | Salesperson Name | Amount | Date      | Items                      | Notes                                 |
|----|-------------|-----------------|------------------|--------|-----------|----------------------------|---------------------------------------|
| 29 | Pending     | Ava Williams    | Sarah Lee        | $160   | 09-Jan-22 | Coffee, Sugar, Cream       |                                       |
| 30 | Completed   | Michael Davis   | Tom Johnson      | $110   | 10-Jan-22 | Tea, Honey, Lemon          |                                       |
| 31 | Completed   | Sarah Lee       | Tom Johnson      | $150   | 01-Jan-22 | Apples, Milk, Bread        |                                       |
| 32 | In Progress | Jane Smith      | Mike Johnson     | $200   | 01-Feb-22 | Eggs, Butter, Cheese       |                                       |
| 33 | Delivered   | Mike Johnson    | Sarah Lee        | $120   | 01-Mar-22 | Rice, Chicken, Oranges     |                                       |
| 34 | Pending     | Tom Johnson     | Jane Smith       | $90    | 01-Apr-22 | Bananas, Yogurt, Coffee    |                                       |
| 35 | Cancelled   | Sarah Lee       | Mike Johnson     | $180   | 01-May-22 | Cereal, Milk, Apples       | Out of stock                          |
| 36 | Completed   | Jane Smith      | Tom Johnson      | $210   | 01-Jun-22 | Bread, Butter, Eggs        |                                       |
| 37 | In Progress | Mike Johnson    | Sarah Lee        | $160   | 01-Jul-22 | Chicken, Rice, Oranges     |                                       |
| 38 | Delivered   | Tom Johnson     | Jane Smith       | $100   | 01-Aug-22 | Coffee, Yogurt, Bananas    |                                       |
| 39 | Pending     | Sarah Lee       | Mike Johnson     | $190   | 01-Sep-22 | Apples, Cereal, Milk       |                                       |
| 40 | Cancelled   | Jane Smith      | Tom Johnson      | $220   | 01-Oct-22 | Eggs, Butter, Bread        | Out of stock                          |
| 41 | Completed   | John Doe        | Sarah Lee        | $150   | 01-Jan-22 | Bread, Milk                |                                       |
| 42 | In Progress | Jane Doe        | Tom Johnson      | $200   | 02-Jan-22 | Eggs, Cheese               |                                       |
| 43 | Delivered   | Mary Johnson    | Jane Smith       | $250   | 03-Jan-22 | Apples, Oranges            |                                       |
| 44 | Pending     | James Brown     | Mike Johnson     | $300   | 04-Jan-22 | Bananas, Grapes            |                                       |
| 45 | Cancelled   | Emily Davis     | Sarah Lee        | $350   | 05-Jan-22 | Chicken, Beef              | Preference for a different type of meat |
| 46 | Completed   | William Smith   | Tom Johnson      | $400   | 06-Jan-22 | Fish, Shrimp               |                                       |
| 47 | In Progress | Elizabeth Taylor| Jane Smith       | $450   | 07-Jan-22 | Rice, Pasta                |                                       |
| 48 | Delivered   | Michael Miller  | Mike Johnson     | $500   | 08-Jan-22 | Bread, Cheese              |                                       |
| 49 | Pending     | Emma Wilson     | Sarah Lee        | $550   | 09-Jan-22 | Milk, Eggs                 |                                       |
| 50 | Cancelled   | Jacob Brown     | Tom Johnson      | $600   | 10-Jan-22 | Apples, Bananas            | Out of stock                          |

In [116]:
res = MDParser.parse_md_doc([doc[inx].text for inx in range(len(doc))])

In [118]:
for inx, res_single in enumerate(res):
    if res_single[1] is PDFPartsTypes.TABLE:
        print(f"{inx}:", res_single[1], res_single[0].shape)
    else:
        print(f"{inx}:", res_single[1], len(res_single[0]))

0: PDFPartsTypes.TABLE (25, 11)
1: PDFPartsTypes.TABLE (50, 8)

In [119]:
res[0][0].head()

,Payment ID,Order ID,Loyalty Card,Loyalty Amount Applied,Customer,Amount Payed,Date,Type,Card,Invoice ID,Status
0,209864,1,-,,John Smith,$50.00,01-May-21,Cash,,656625,Completed
1,615068,3,401364,5,Bob Johnson,$15,03-May-21,Online,Visa,129687,Failed
2,889065,4,-,,Mary Brown,$30.00,04-May-21,Cash,,429780,Completed
3,743665,5,245888,,David Lee,$15.00,05-May-21,Cash,,960672,Pending
4,541305,8,417384,3,Emily Davis,$22,08-May-21,Online,MasterCard,892412,Pending

In [121]:
res[1][0].head()

,Order ID,Status,Customer,Cashier,Total,Date,Items,Notes
0,1,Completed,John Smith,Sarah Lee,$50,01-May-21,"Apples, Bananas, Bread",
1,2,Completed,Jane Doe,Tom Johnson,$75,02-May-21,"Milk, Eggs, Cheese, Yogurt",
2,3,In Progress,Bob Johnson,Sarah Lee,$20,03-May-21,"Chips, Salsa",
3,4,Completed,Mary Brown,Tom Johnson,$30,04-May-21,"Chicken, Broccoli",
4,5,Completed,David Lee,Sarah Lee,$15,05-May-21,"Soda, Chips",

# Testing "consum_combined.pdf"

In [122]:
doc = LlamaParse(
    result_type="markdown",
    use_vendor_multimodal_model=True,
    # vendor_multimodal_model_name="openai-gpt-4o-mini",
    vendor_multimodal_model_name="openai-gpt4o",
).load_data("./_data_test_pdfs_custom/consum_combined.pdf")
print(f"Result docs number: {len(doc)}")

Started parsing the file under job_id e9141a04-93da-4152-9d4e-ad0e43e256e8
Result docs number: 3

In [123]:
print(doc[0].text)

# Consum Worker Policy

1. **Introduction**

   Welcome to Consum! Our Worker Policy ensures a supportive, efficient, and safe work environment. We are committed to upholding professionalism, respect, and excellence in all aspects of our operations.

2. **Equal Opportunity and Diversity**

   Consum is an equal opportunity employer. We embrace diversity and strive to create an inclusive environment for all employees.

3. **Health and Safety**

   Employee health and safety are paramount. Adherence to safety protocols, including food handling and hygiene practices, is required.

4. **Professional Conduct**

   Employees are expected to maintain professionalism, respect, and a customer-first approach at all times.

5. **Attendance and Punctuality**

   Reliable attendance and punctuality are essential. Timely communication is required in case of delays or absences.

6. **Confidentiality and Data Protection**

   All employees must respect the confidentiality of company and customer information.

7. **Dress Code and Personal Hygiene**

   A strict dress code and personal hygiene standards are essential, especially in handling food products.

8. **Conflict Resolution**

   Conflicts should be resolved amicably, with management available for mediation if necessary.

9. **Training and Development**

   Consum is dedicated to the continuous professional development of our employees.

10. **Compliance with Laws and Regulations**

    All employees must adhere to food safety and handling laws and regulations.

11. **Feedback and Suggestions**

    We encourage employees to provide feedback and suggestions for improvement.

12. **Disciplinary Action**

    Non-compliance with these policies may result in disciplinary action.

13. **Vacation Time and Days Off**

In [124]:
print(doc[1].text)

Annual Leave: Employees are entitled to 24 days of paid vacation annually.

Public Holidays: All national public holidays are observed with paid leave.

Personal Days: 7 paid personal days per year for personal matters or emergencies.

### 14. Special Benefits

- **Health and Wellness Programs:** Access to gym memberships, yoga classes, and wellness workshops.
- **Professional Growth Fund:** An annual allowance for courses or seminars related to personal and professional development.
- **Family Support:** Enhanced maternity/paternity leave and flexible scheduling for parents.
- **Employee Discount:** Generous discounts on all Consum products.
- **Team Building Activities:** Regular company outings and team-building events to foster a sense of community.
- **Sustainability Incentives:** Rewards for employees who contribute to our sustainability initiatives, like recycling and energy conservation.

### 15. Retirement Plan

- **Pension Scheme:** A competitive pension plan to support your future.
- **Financial Planning Assistance:** Access to financial advisors for retirement planning.

## Conclusion

Our comprehensive policy is designed to ensure a fulfilling and supportive work environment. We value each employees contribution to Consum's success.

### Table of Consum Employee Contacts

| Employee        | Phone        | Email                     |
|-----------------|--------------|---------------------------|
| Sarah Lee       | (415) 555-2671 | sarahlee@email.com       |
| Tom Johnson     | (212) 555-3456 | tomjohnson@email.com     |
| Jane Smith      | (312) 555-7890 | janesmith@email.com      |
| Mike Johnson    | (213) 555-4567 | mikejohnson@email.com    |
| John Smith      | (305) 555-6789 | johnsmith@email.com      |
| Sarah Johnson   | (123) 456-7890 | sarahjohnson@email.com   |
| Michael Brown   | (234) 567-8901 | michaelbrown@email.com   |
| Emily Davis     | (345) 678-9012 | emilydavis@email.com     |
| David Miller    | (456) 789-0123 | davidmiller@email.com    |
| Jessica Wilson  | (567) 890-1234 | jessicawilson@email.com  |
| James Taylor    | (678) 901-2345 | jamestaylor@email.com    |
| Amanda Moore    | (789) 012-3456 | amandamoore@email.com    |
| William Harris  | (012) 345-6789 | williamharris@email.com  |
| Richard Thompson| (222) 333-4444 | richardthompson@email.com|

In [125]:
print(doc[2].text)

| Patricia Garcia   | (333) 444-5555 | patriciagarcia@email.com     |
|-------------------|----------------|-----------------------------|
| Paul Lewis        | (888) 999-0000 | paullewis@email.com         |
| Susan Walker      | (999) 000-1111 | susanwalker@email.com       |
| Xander Blackwood  | (415) 555-2672 | xander.blackwood@email.com  |
| Luna Nightingale  | (212) 555-3453 | luna.nightingale@email.com  |
| Phoenix Blaze     | (312) 555-7891 | phoenix.blaze@email.com     |
| Nova Starlight    | (213) 555-4563 | nova.starlight@email.com    |

# Table of Consum Employee Salaries, Their Roles and Hire Date.

| Employee          | Role                        | Hire Date   | Salary  |
|-------------------|-----------------------------|-------------|---------|
| Sarah Lee         | Cashier                     | 3-Jan-2018  | $2,000  |
| Tom Johnson       | Cashier                     | 15-Feb-2019 | $2,000  |
| Jane Smith        | Cashier                     | 10-Apr-2017 | $2,000  |
| Mike Johnson      | Cashier                     | 22-May-2018 | $2,000  |
| John Smith        | CEO                         | 30-Jun-2019 | $20,000 |
| Sarah Johnson     | Chief Financial Officer     | 1-Jul-2017  | $15,000 |
| Michael Brown     | Operations Manager          | 15-Aug-2018 | $10,000 |
| Emily Davis       | Head of Marketing           | 20-Sep-2019 | $12,000 |
| David Miller      | Head of Sales               | 5-Oct-2017  | $12,000 |
| Jessica Wilson    | Customer Service Manager    | 11-Nov-2018 | $8,000  |
| James Taylor      | IT Manager                  | 12-Dec-2019 | $10,000 |
| Amanda Moore      | Human Resources Manager     | 15-Jan-2020 | $9,000  |
| William Harris    | Inventory Manager           | 20-Apr-2019 | $8,500  |
| Richard Thompson  | Legal Advisor               | 15-Jun-2017 | $10,500 |
| Patricia Garcia   | Accounting Manager          | 25-Jul-2018 | $9,000  |
| Paul Lewis        | Purchasing Manager          | 10-Dec-2019 | $9,000  |
| Susan Walker      | Logistics Manager           | 20-Jan-2020 | $9,000  |
| Xander Blackwood  | Loader                      | 3-Jan-2018  | $2,000  |
| Luna Nightingale  | Loader                      | 15-Feb-2019 | $2,000  |
| Phoenix Blaze     | Merchandiser                | 10-Apr-2017 | $2,000  |
| Nova Starlight    | Merchandiser                | 22-May-2018 | $2,000  |

In [126]:
res = MDParser.parse_md_doc([doc[inx].text for inx in range(len(doc))])

In [127]:
for inx, res_single in enumerate(res):
    if res_single[1] is PDFPartsTypes.TABLE:
        print(f"{inx}:", res_single[1], res_single[0].shape)
    else:
        print(f"{inx}:", res_single[1], len(res_single[0]))

0: PDFPartsTypes.TEXT 3151
1: PDFPartsTypes.TABLE (20, 3)
2: PDFPartsTypes.TABLE (21, 4)

In [128]:
print(res[0][0])

# Consum Worker Policy

1. **Introduction**

   Welcome to Consum! Our Worker Policy ensures a supportive, efficient, and safe work environment. We are committed to upholding professionalism, respect, and excellence in all aspects of our operations.

2. **Equal Opportunity and Diversity**

   Consum is an equal opportunity employer. We embrace diversity and strive to create an inclusive environment for all employees.

3. **Health and Safety**

   Employee health and safety are paramount. Adherence to safety protocols, including food handling and hygiene practices, is required.

4. **Professional Conduct**

   Employees are expected to maintain professionalism, respect, and a customer-first approach at all times.

5. **Attendance and Punctuality**

   Reliable attendance and punctuality are essential. Timely communication is required in case of delays or absences.

6. **Confidentiality and Data Protection**

   All employees must respect the confidentiality of company and customer information.

7. **Dress Code and Personal Hygiene**

   A strict dress code and personal hygiene standards are essential, especially in handling food products.

8. **Conflict Resolution**

   Conflicts should be resolved amicably, with management available for mediation if necessary.

9. **Training and Development**

   Consum is dedicated to the continuous professional development of our employees.

10. **Compliance with Laws and Regulations**

    All employees must adhere to food safety and handling laws and regulations.

11. **Feedback and Suggestions**

    We encourage employees to provide feedback and suggestions for improvement.

12. **Disciplinary Action**

    Non-compliance with these policies may result in disciplinary action.

13. **Vacation Time and Days Off**
Annual Leave: Employees are entitled to 24 days of paid vacation annually.

Public Holidays: All national public holidays are observed with paid leave.

Personal Days: 7 paid personal days per year for personal matters or emergencies.

### 14. Special Benefits

- **Health and Wellness Programs:** Access to gym memberships, yoga classes, and wellness workshops.
- **Professional Growth Fund:** An annual allowance for courses or seminars related to personal and professional development.
- **Family Support:** Enhanced maternity/paternity leave and flexible scheduling for parents.
- **Employee Discount:** Generous discounts on all Consum products.
- **Team Building Activities:** Regular company outings and team-building events to foster a sense of community.
- **Sustainability Incentives:** Rewards for employees who contribute to our sustainability initiatives, like recycling and energy conservation.

### 15. Retirement Plan

- **Pension Scheme:** A competitive pension plan to support your future.
- **Financial Planning Assistance:** Access to financial advisors for retirement planning.

## Conclusion

Our comprehensive policy is designed to ensure a fulfilling and supportive work environment. We value each employees contribution to Consum's success.

### Table of Consum Employee Contacts
# Table of Consum Employee Salaries, Their Roles and Hire Date.

In [129]:
res[1][0].head()

       Employee           Phone                  Email
0     Sarah Lee  (415) 555-2671     sarahlee@email.com
1   Tom Johnson  (212) 555-3456   tomjohnson@email.com
2    Jane Smith  (312) 555-7890    janesmith@email.com
3  Mike Johnson  (213) 555-4567  mikejohnson@email.com
4    John Smith  (305) 555-6789    johnsmith@email.com

In [131]:
res[2][0].head()

       Employee     Role    Hire Date   Salary
0     Sarah Lee  Cashier   3-Jan-2018   $2,000
1   Tom Johnson  Cashier  15-Feb-2019   $2,000
2    Jane Smith  Cashier  10-Apr-2017   $2,000
3  Mike Johnson  Cashier  22-May-2018   $2,000
4    John Smith      CEO  30-Jun-2019  $20,000

# Test "autozaz_details_orders - orders_real.pdf"

In [132]:
doc = LlamaParse(
    result_type="markdown",
    use_vendor_multimodal_model=True,
    # vendor_multimodal_model_name="openai-gpt-4o-mini",
    vendor_multimodal_model_name="openai-gpt4o",
).load_data("./_data_test_pdfs_custom/autozaz_details_orders - orders_real.pdf")
print(f"Result docs number: {len(doc)}")

Started parsing the file under job_id d4b22a85-4b7d-4743-ab72-df8e50fc7f72
Result docs number: 3

In [133]:
print(doc[0].text)

| order_id | product_name       | price_per_unit | units_sold | amount_of_discount_total | deal_date   | customer_name  |
|----------|--------------------|----------------|------------|--------------------------|-------------|----------------|
| 1        | Alternator         | 350            | 5          | 157.5                    | 01/01/2024  | Emily Johnson  |
| 2        | Engine Block       | 500            | 5          | 100                      | 01/02/2024  | Emily Johnson  |
| 3        | Engine Block       | 500            | 4          | 120                      | 01/03/2024  | Scott Nilson   |
| 4        | Clutch Plate       | 180            | 1          | 7.2                      | 01/04/2024  | Scott Nilson   |
| 5        | Transmission Gear  | 300            | 9          | 189                      | 01/05/2024  | Scott Nilson   |
| 6        | Steering Wheel     | 100            | 3          | 27                       | 01/06/2024  | Scott Nilson   |
| 7        | Exhaust Manifold   | 220            | 2          | 30.8                     | 01/07/2024  | Scott Nilson   |
| 8        | Clutch Plate       | 180            | 2          | 10.8                     | 01/08/2024  | Scott Nilson   |
| 9        | Steering Wheel     | 100            | 1          | 9                        | 01/09/2024  | Scott Nilson   |
| 10       | Engine Block       | 500            | 9          | 315                      | 01/10/2024  | Scott Nilson   |
| 11       | Clutch Plate       | 180            | 7          | 50.4                     | 01/11/2024  | Scott Nilson   |
| 12       | Transmission Gear  | 300            | 9          | 243                      | 01/12/2024  | Scott Nilson   |
| 13       | Steering Wheel     | 100            | 7          | 70                       | 01/13/2024  | Scott Nilson   |
| 14       | Brake Pad          | 75             | 4          | 6                        | 01/14/2024  | Scott Nilson   |
| 15       | Exhaust Manifold   | 220            | 3          | 52.8                     | 01/15/2024  | Scott Nilson   |
| 16       | Transmission Gear  | 300            | 2          | 48                       | 01/16/2024  | Scott Nilson   |
| 17       | Radiator           | 200            | 3          | 60                       | 01/17/2024  | Scott Nilson   |
| 18       | Steering Wheel     | 100            | 6          | 42                       | 01/18/2024  | Scott Nilson   |
| 19       | Engine Block       | 500            | 4          | 140                      | 01/19/2024  | Emily Johnson  |
| 20       | Radiator           | 200            | 5          | 20                       | 01/20/2024  | Emily Johnson  |
| 21       | Exhaust Manifold   | 220            | 5          | 66                       | 01/21/2024  | Emily Johnson  |
| 22       | Clutch Plate       | 180            | 4          | 50.4                     | 01/22/2024  | Emily Johnson  |
| 23       | Brake Pad          | 75             | 3          | 18                       | 01/23/2024  | Emily Johnson  |
| 24       | Exhaust Manifold   | 220            | 4          | 26.4                     | 02/02/2023  | Emily Johnson  |
| 25       | Steering Wheel     | 100            | 3          | 6                        | 02/03/2023  | Emily Johnson  |
| 26       | Exhaust Manifold   | 220            | 3          | 52.8                     | 02/04/2023  | Emily Johnson  |
| 27       | Steering Wheel     | 100            | 5          | 30                       | 02/05/2023  | Emily Johnson  |
| 28       | Clutch Plate       | 180            | 9          | 97.2                     | 02/06/2023  | Emily Johnson  |
| 29       | Engine Block       | 500            | 1          | 15                       | 02/07/2023  | Emily Johnson  |
| 30       | Radiator           | 200            | 9          | 162                      | 02/08/2023  | Emily Johnson  |
| 31       | Fuel Injector      | 250            | 1          | 20                       | 02/09/2023  | Emily Johnson  |
| 32       | Fuel Injector      | 250            | 6          | 120                      | 02/10/2023  | Emily Johnson  |
| 33       | Suspension Spring  | 150            | 3          | 27                       | 02/11/2023  | Emily Johnson  |
| 34       | Radiator           | 200            | 9          | 108                      | 02/12/2023  | Emily Johnson  |
| 35       | Engine Block       | 500            | 4          | 120                      | 02/13/2023  | Emily Johnson  |
| 36       | Steering Wheel     | 100            | 5          | 40                       | 02/14/2023  | Emily Johnson  |
| 37       | Brake Pad          | 75             | 1          | 4.5                      | 02/15/2023  | Emily Johnson  |

In [134]:
print(doc[1].text)

|    | Item               | Price | Quantity | Total | Date       | Employee      |
|----|--------------------|-------|----------|-------|------------|---------------|
| 38 | Clutch Plate       | 180   | 6        | 64.8  | 02/16/2023 | Emily Johnson |
| 39 | Brake Pad          | 75    | 2        | 7.5   | 02/17/2023 | Emily Johnson |
| 40 | Steering Wheel     | 100   | 3        | 6     | 02/18/2023 | Emily Johnson |
| 41 | Exhaust Manifold   | 220   | 5        | 55    | 02/19/2023 | Emily Johnson |
| 42 | Exhaust Manifold   | 220   | 7        | 46.2  | 02/20/2023 | Emily Johnson |
| 43 | Engine Block       | 500   | 4        | 180   | 02/21/2023 | Emily Johnson |
| 44 | Transmission Gear  | 300   | 3        | 18    | 02/22/2023 | Emily Johnson |
| 45 | Engine Block       | 500   | 3        | 90    | 02/23/2023 | Emily Johnson |
| 46 | Suspension Spring  | 150   | 1        | 3     | 02/24/2023 | Emily Johnson |
| 47 | Exhaust Manifold   | 220   | 2        | 17.6  | 05/06/2023 | Emily Johnson |
| 48 | Transmission Gear  | 300   | 3        | 72    | 05/06/2023 | Emily Johnson |
| 49 | Engine Block       | 500   | 8        | 120   | 05/07/2023 | Emily Johnson |
| 50 | Suspension Spring  | 150   | 9        | 108   | 05/08/2023 | Emily Johnson |
| 51 | Brake Pad          | 75    | 5        | 11.25 | 05/09/2023 | Emily Johnson |
| 52 | Exhaust Manifold   | 220   | 4        | 88    | 05/10/2023 | Emily Johnson |
| 53 | Fuel Injector      | 250   | 9        | 112.5 | 05/11/2023 | Emily Johnson |
| 54 | Steering Wheel     | 100   | 5        | 50    | 05/12/2023 | Tom Yam       |
| 55 | Exhaust Manifold   | 220   | 3        | 13.2  | 05/13/2023 | Tom Yam       |
| 56 | Suspension Spring  | 150   | 4        | 18    | 05/14/2023 | Tom Yam       |
| 57 | Engine Block       | 500   | 7        | 315   | 05/16/2023 | Tom Yam       |
| 58 | Clutch Plate       | 180   | 5        | 18    | 05/16/2023 | Tom Yam       |
| 59 | Clutch Plate       | 180   | 7        | 126   | 05/17/2023 | Tom Yam       |
| 60 | Suspension Spring  | 150   | 9        | 27    | 05/18/2023 | Tom Yam       |
| 61 | Engine Block       | 500   | 4        | 200   | 05/19/2023 | Tom Yam       |
| 62 | Radiator           | 200   | 3        | 12    | 05/20/2023 | Tom Yam       |
| 63 | Brake Pad          | 75    | 9        | 27    | 05/21/2023 | Tom Yam       |
| 64 | Alternator         | 350   | 7        | 122.5 | 05/22/2023 | Tom Yam       |
| 65 | Suspension Spring  | 150   | 5        | 45    | 05/23/2023 | Tom Yam       |
| 66 | Suspension Spring  | 150   | 9        | 67.5  | 05/24/2023 | Tom Yam       |
| 67 | Fuel Injector      | 250   | 4        | 60    | 05/26/2023 | Tom Yam       |
| 68 | Clutch Plate       | 180   | 9        | 129.6 | 05/26/2023 | Tom Yam       |
| 69 | Fuel Injector      | 250   | 7        | 105   | 05/27/2023 | Tom Yam       |
| 70 | Suspension Spring  | 150   | 7        | 31.5  | 05/28/2023 | Tom Yam       |
| 71 | Alternator         | 350   | 1        | 24.5  | 05/29/2023 | Tom Yam       |
| 72 | Clutch Plate       | 180   | 8        | 144   | 05/30/2023 | Tom Yam       |
| 73 | Transmission Gear  | 300   | 2        | 36    | 05/31/2023 | Tom Yam       |
| 74 | Fuel Injector      | 250   | 6        | 60    | 06/01/2023 | Tom Yam       |
| 75 | Exhaust Manifold   | 220   | 1        | 15.4  | 06/02/2023 | Tom Yam       |

In [135]:
print(doc[2].text)

|    | Item               | Price | Quantity | Total  | Date       | Salesperson    |
|----|--------------------|-------|----------|--------|------------|----------------|
| 76 | Brake Pad          | 75    | 1        | 6      | 06/03/2023 | Tom Yam        |
| 77 | Alternator         | 350   | 4        | 70     | 06/04/2023 | Tom Yam        |
| 78 | Radiator           | 200   | 3        | 42     | 06/05/2023 | Tom Yam        |
| 79 | Clutch Plate       | 180   | 3        | 43.2   | 06/06/2023 | Tom Yam        |
| 80 | Suspension Spring  | 150   | 2        | 15     | 06/07/2023 | Tom Yam        |
| 81 | Exhaust Manifold   | 220   | 9        | 158.4  | 06/08/2023 | Tom Yam        |
| 82 | Engine Block       | 500   | 3        | 150    | 06/09/2023 | Tom Yam        |
| 83 | Engine Block       | 500   | 9        | 405    | 06/10/2023 | Emily Johnson  |
| 84 | Engine Block       | 500   | 6        | 180    | 06/11/2023 | Emily Johnson  |
| 85 | Radiator           | 200   | 5        | 70     | 06/12/2023 | Emily Johnson  |
| 86 | Fuel Injector      | 250   | 5        | 62.5   | 06/13/2023 | Emily Johnson  |
| 87 | Suspension Spring  | 150   | 3        | 22.5   | 06/14/2023 | Emily Johnson  |
| 88 | Alternator         | 350   | 2        | 70     | 06/15/2023 | Emily Johnson  |
| 89 | Engine Block       | 500   | 1        | 30     | 06/16/2023 | Emily Johnson  |
| 90 | Radiator           | 200   | 6        | 48     | 06/17/2023 | Emily Johnson  |
| 91 | Clutch Plate       | 180   | 9        | 145.8  | 06/18/2023 | Emily Johnson  |
| 92 | Radiator           | 200   | 8        | 96     | 06/19/2023 | Emily Johnson  |
| 93 | Exhaust Manifold   | 220   | 4        | 79.2   | 06/20/2023 | Emily Johnson  |
| 94 | Steering Wheel     | 100   | 2        | 12     | 06/21/2023 | Emily Johnson  |
| 95 | Alternator         | 350   | 4        | 98     | 06/22/2023 | Emily Johnson  |
| 96 | Engine Block       | 500   | 9        | 90     | 06/23/2023 | Emily Johnson  |
| 97 | Fuel Injector      | 250   | 4        | 40     | 06/24/2023 | Emily Johnson  |
| 98 | Radiator           | 200   | 2        | 16     | 06/25/2023 | Emily Johnson  |
| 99 | Fuel Injector      | 250   | 9        | 67.5   | 06/26/2023 | Emily Johnson  |
| 100| Steering Wheel     | 100   | 8        | 24     | 06/27/2023 | Emily Johnson  |

In [136]:
res = MDParser.parse_md_doc([doc[inx].text for inx in range(len(doc))])

In [137]:
for inx, res_single in enumerate(res):
    if res_single[1] is PDFPartsTypes.TABLE:
        print(f"{inx}:", res_single[1], res_single[0].shape)
    else:
        print(f"{inx}:", res_single[1], len(res_single[0]))

0: PDFPartsTypes.TABLE (100, 7)

In [138]:
res[0][0].head()

,order_id,product_name,price_per_unit,units_sold,amount_of_discount_total,deal_date,customer_name
0,1,Alternator,350,5,157.5,01/01/2024,Emily Johnson
1,2,Engine Block,500,5,100,01/02/2024,Emily Johnson
2,3,Engine Block,500,4,120,01/03/2024,Scott Nilson
3,4,Clutch Plate,180,1,7.2,01/04/2024,Scott Nilson
4,5,Transmission Gear,300,9,189,01/05/2024,Scott Nilson